#header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
#formulaire {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}
#logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}