#header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
/* Petit style pour griser le champ email comme sur la photo */
input[readonly] {
    background-color: #e9ecef; /* Gris clair */
    color: #495057;
    cursor: not-allowed;
    border: 1px solid #ced4da;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Important pour l'alignement */
}
.btn-vert {
    background-color: #117C25; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
#logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}